- content_for :work_header_title do
  Projects
- content_for :work_header_actions do
  = button('Back', projects_path, :alternate, :normal)
  = button('New Project', new_project_path)

- if @projects.size > 0
  = render partial: 'project_list', locals: { projects: @projects }
- else
  %p No project.  You can create one.

