- content_for :work_header_title do
  New Project
- content_for :work_header_actions do
  = button('Back', projects_path, :alternate, :normal)
  %input{ type: "submit", value: "Save", form: "new_project", class: button_class(:primary, :normal) }


= render 'form', project: @project

