%div{ id: 'work_header', class:'flex p-5 border m-1 border-blue-100 rounded'}
  %div{ id: 'work_header_title' }
    %h1{ class: 'text-blue-800 font-bold p-3 text-2xl' }= content_for :work_header_title
  %div{ id: 'work_header_actions', class: 'ml-auto' }
    = content_for :work_header_actions
